{% extends 'index.html' %} {% block stories %}
<header>
    <div class="dock shadow-xs px-4 absolute top-0 flex justify-between dock-lg">
        <div class="flex flex-row gap-3 justify-start items-center">
            <div class="size-[32px] flex justify-center items-center rounded-full bg-gray-100 p-2">
                <i class="fa-solid fa-user text-yellow-300"></i>
            </div>

            <div class="size-[32px] flex justify-center items-center rounded-full bg-gray-100 p-2">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <h1 class="text-xl font-semibold">Stories</h1>

        <div class="flex flex-row gap-3 justify-end items-center">
            <div class="size-[32px] flex justify-center items-center rounded-full bg-gray-100 p-2">
                <i class="fa-regular fa-bell"></i>
            </div>

            <div class="size-[32px] flex justify-center items-center rounded-full bg-yellow-300 p-2">
                <i class="fa-solid fa-user-plus"></i>
            </div>

            <div class="size-[32px] flex justify-center items-center rounded-full bg-gray-100 p-2">
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>
    </div>
</header>

<div
    class="mt-20 mx-auto h-full overflow-y-scroll gap-1 scrollbar-none sm:h-[90vh] bg-white w-full sm:max-w-96 sm:rounded-lg">
    <div>
        <h1 class="font-bold ml-3 text-[14px] mb-1">My Stories</h1>
        <div class="flex pt-1 pl-1 h-[100px] ml-2 gap-3 overflow-x-auto scrollbar-none">
            <div class="stories relative">
                <div
                    class="ring ring-primary ring-offset-base-100 ring-offset-2 w-[56px] h-[56px] rounded-full overflow-hidden">
                    <img src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div
                    class="absolute bottom-9 right-0 w-5 h-5 rounded-full bg-yellow-300 flex justify-center items-center">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="w-12 pt-1 mx-auto">
                    <h2 class="font-bold text-xs flex-shrink-0 whitespace-nowrap overflow-normal">
                        My Story
                    </h2>
                    <p class="font-semibold text-gray-500 text-[12px] overflow-hidden truncate"></p>
                </div>
            </div>

            <div class="stories relative w-16">
                <div
                    class="ring ring-primary ring-offset-base-100 ring-offset-2 w-[56px] h-[56px] rounded-full overflow-hidden">
                    <img src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div
                    class="absolute bottom-9 right-0 w-5 h-5 rounded-full bg-blue-300 flex justify-center items-center">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="w-12 pt-1 leading-none mx-auto">
                    <h2 class="font-bold text-xs flex-shrink-0 whitespace-nowrap overflow-hidden truncate">
                        Pralove Saini
                    </h2>
                    <p class="font-semibold text-gray-500 text-[12px] overflow-hidden truncate">
                        pralovemit12
                    </p>
                </div>
            </div>

            <div class="stories relative w-16">
                <div
                    class="ring ring-primary ring-offset-base-100 ring-offset-2 w-[56px] h-[56px] rounded-full overflow-hidden">
                    <img src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div
                    class="absolute bottom-9 right-0 w-5 h-5 rounded-full bg-blue-300 flex justify-center items-center">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="w-12 pt-1 leading-none mx-auto">
                    <h2 class="font-bold text-xs flex-shrink-0 whitespace-nowrap overflow-hidden truncate">
                        Pralove Saini
                    </h2>
                    <p class="font-semibold text-gray-500 text-[12px] overflow-hidden truncate">
                        pralovemit12
                    </p>
                </div>
            </div>
            <div class="stories relative w-16">
                <div
                    class="ring ring-primary ring-offset-base-100 ring-offset-2 w-[56px] h-[56px] rounded-full overflow-hidden">
                    <img src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div
                    class="absolute bottom-9 right-0 w-5 h-5 rounded-full bg-blue-300 flex justify-center items-center">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="w-12 pt-1 leading-none mx-auto">
                    <h2 class="font-bold text-xs flex-shrink-0 whitespace-nowrap overflow-hidden truncate">
                        Pralove Saini
                    </h2>
                    <p class="font-semibold text-gray-500 text-[12px] overflow-hidden truncate">
                        pralovemit12
                    </p>
                </div>
            </div>
            <div class="stories relative w-16">
                <div
                    class="ring ring-primary ring-offset-base-100 ring-offset-2 w-[56px] h-[56px] rounded-full overflow-hidden">
                    <img src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div
                    class="absolute bottom-9 right-0 w-5 h-5 rounded-full bg-blue-300 flex justify-center items-center">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="w-12 pt-1 leading-none mx-auto">
                    <h2 class="font-bold text-xs flex-shrink-0 whitespace-nowrap overflow-hidden truncate">
                        Pralove Saini
                    </h2>
                    <p class="font-semibold text-gray-500 text-[12px] overflow-hidden truncate">
                        pralovemit12
                    </p>
                </div>
            </div>
            <div class="stories relative w-16">
                <div
                    class="ring ring-primary ring-offset-base-100 ring-offset-2 w-[56px] h-[56px] rounded-full overflow-hidden">
                    <img src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div
                    class="absolute bottom-9 right-0 w-5 h-5 rounded-full bg-blue-300 flex justify-center items-center">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="w-12 pt-1 leading-none mx-auto">
                    <h2 class="font-bold text-xs flex-shrink-0 whitespace-nowrap overflow-hidden truncate">
                        Pralove Saini
                    </h2>
                    <p class="font-semibold text-gray-500 text-[12px] overflow-hidden truncate">
                        pralovemit12
                    </p>
                </div>
            </div>
            <div class="stories relative w-16">
                <div
                    class="ring ring-primary ring-offset-base-100 ring-offset-2 w-[56px] h-[56px] rounded-full overflow-hidden">
                    <img src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div
                    class="absolute bottom-9 right-0 w-5 h-5 rounded-full bg-blue-300 flex justify-center items-center">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="w-12 pt-1 leading-none mx-auto">
                    <h2 class="font-bold text-xs flex-shrink-0 whitespace-nowrap overflow-hidden truncate">
                        Pralove Saini
                    </h2>
                    <p class="font-semibold text-gray-500 text-[12px] overflow-hidden truncate">
                        pralovemit12
                    </p>
                </div>
            </div>
            <div class="stories relative w-16">
                <div
                    class="ring ring-primary ring-offset-base-100 ring-offset-2 w-[56px] h-[56px] rounded-full overflow-hidden">
                    <img src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div
                    class="absolute bottom-9 right-0 w-5 h-5 rounded-full bg-blue-300 flex justify-center items-center">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="w-12 pt-1 leading-none mx-auto">
                    <h2 class="font-bold text-xs flex-shrink-0 whitespace-nowrap overflow-hidden truncate">
                        Pralove Saini
                    </h2>
                    <p class="font-semibold text-gray-500 text-[12px] overflow-hidden truncate">
                        pralovemit12
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <h1 class="font-bold text-[14px] ml-2 mb-1">Discover</h1>
        <div class="flex flex-wrap space-y-4 justify-around overflow-y-auto scrollbar-none">
            <div class="relative">
                <div class="">
                    <img class="h-52 w-44 rounded-sm"
                        src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div class="absolute bottom-2 bg-opacity-800 px-2 py-1 rounded-sm">
                    <h1 class="text-white font-bold text-[14px]">Smooth move by Mohan</h1>
                </div>
            </div>
            <div class="relative">
                <div class="">
                    <img class="h-52 w-44 rounded-sm"
                        src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div class="absolute bottom-2 bg-opacity-800 px-2 py-1 rounded-sm">
                    <h1 class="text-white font-bold text-[14px]">Smooth move by Mohan</h1>
                </div>
            </div>
            <div class="relative">
                <div>
                    <img class="h-52 w-44 rounded-sm"
                        src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div class="absolute bottom-2 bg-opacity-800 px-2 py-1 rounded-sm">
                    <h1 class="text-white font-bold text-[14px]">Smooth move by Mohan</h1>
                </div>
            </div>
            <div class="relative">
                <div class="">
                    <img class="h-52 w-44 rounded-sm"
                        src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div class="absolute bottom-2 bg-opacity-800 px-2 py-1 rounded-sm">
                    <h1 class="text-white font-bold text-[14px]">Smooth move by Mohan</h1>
                </div>
            </div>
            <div class="relative">
                <div>
                    <img class="h-52 w-44 rounded-sm"
                        src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div class="absolute bottom-2 bg-opacity-800 px-2 py-1 rounded-sm">
                    <h1 class="text-white font-bold text-[14px]">Smooth move by Mohan</h1>
                </div>
            </div>
            <div class="relative">
                <div class="">
                    <img class="h-52 w-44 rounded-sm"
                        src="https://i.pinimg.com/736x/03/1f/2f/031f2f6e6955c98809a657b9d2dffbde.jpg" alt="Pralove" />
                </div>
                <div class="absolute bottom-2 bg-opacity-800 px-2 py-1 rounded-sm">
                    <h1 class="text-white font-bold text-[14px]">Smooth move by Mohan</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}